
body
{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  color:goldenrod;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #FC5C7D;  
  background: -webkit-linear-gradient(to right, #6A82FB, #FC5C7D);  
  background: linear-gradient(to right, #6A82FB, #FC5C7D); 
  
}

.container 
{
  text-align: center;
  border: 2px solid linear-gradient(to right, #6A82FB, #FC5C7D);
  margin-top: 50px;
  margin-bottom: 30px;
} 

input
{
  padding: 10px;
  font-size: 16px;
  width: 350px;
}

#bt
{
  text-align: center;
}

.topB
{
  padding: 10px;
  font-size: 16px;
  margin: 10px;
  margin-right: 0px;background: #FC466B;  
  background-color: blanchedalmond;
}

ul
{
  list-style-type: none;
  font-weight: bolder;
}

.contq
{
  align-self: center;
}

.btn btn-dark ,btn btn-success , btn btn-danger
{
  position: absolute; 
  right: 0;
}

.fi
{
  width: 50%;
  margin-left: 80px;
  border-color: blue;
  border-radius: 10px;
  border-style:ridge
}

.sci
{
  display: inline;
  align-items: center;
  width: 25%;
  border-style: none;
  background: #FC466B;  
  background: -webkit-linear-gradient(to right, #3F5EFB, #FC466B); 
  background: linear-gradient(to right, #3F5EFB, #FC466B); 
  color: aliceblue;
}

